<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>物业工作展示</title>
    <link rel="stylesheet" href="/css/tenement/workDisplay.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/tenement/workDisplay.js"></script>
    <script src="/js/tenement/photosView.js"></script>
</head>

<body>
    <div class="container">
        <div class="head">
            <a class="jt" href="###" style="margin-left: 10px"><img src="/img/箭头2.jpg" height="30" width="30"/></a>
            <h1 style="color: white;font-size: 26px">物业工作展示</h1>
        </div>
        <div class="content">
            <ul class="info" th:each="display:${workDisplays}"><p th:text="${display.time}"></p>
                <li><h3 th:text="${display.theme}"></h3>
                    <div class="content1">
                        <ul>
                            <input class="conts" type="hidden" th:value="${display.content}"/>
                            <h3 th:text="${display.theme}"></h3>
                            <p style="text-align: left" th:text="${display.time}"></p>
                            <b class="cont"></b>
                            <li class="tp">
                                <img th:src="${display.tu1}"/>
                            </li>
                            <li class="tp">
                                <img th:src="${display.tu2}"/>
                            </li>
                            <li class="tp">
                                <img th:src="${display.tu3}"/>
                            </li>
                            <li class="tp">
                                <img th:src="${display.tu4}"/>
                            </li>
                            <li class="tp">
                                <img th:src="${display.tu5}"/>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>