*{
    margin: 0;
    padding: 0;
    list-style-type:none;
    text-decoration: none;
    font-family: "微软雅黑 Light";
    color: white;
}
body{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    background: linear-gradient(to bottom,#F54B65,#F54B65);
}
.header{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom,#F32634,#F54B65);
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    margin-right: 60px;
}
.header-left{
    width: 60px;
    height: 60px;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    /*align-self: flex-end;*/
}
.a{
    background: url("../img/登录页面.jpg") -10px -65px no-repeat;
    width: 60px;
    height: 65px;
}
.center{
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    padding-top: 20px;
}
.input{
    width: 97%;
    height: 90px;
    border-bottom: 2px white solid;
    margin-left: 20px;
    font-size: 2em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    margin-top: 50px;
    align-items: center;
}
.input a{
    width: 20%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 2px white solid;
    margin-top: 30px;
    border-radius: 30px;
    /*margin-left: 300px;*/
}
.input-1{
    width: 80%;
    height: 90px;
    border-bottom: 2px white solid;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    align-items: center;
}
.input input{
    width: 50%;
    height: 80px;
    background-color: transparent;
    border: 0;
    margin-left: 50px;
    /*去除input点击时的边框*/
    outline: medium;
    font-size: 1em;
}
.but{
    align-self: center;
    margin-top: 50px;
}
.but input{
    border-radius: 50px;
    width: 600px;
    height: 100px;
    font-size: 3em;
    border: 2px white solid;
    background: linear-gradient(to bottom,#F34567,#F34467);
    margin-top: 20px;
    outline: medium;
}